*.dex
*.class
bin/
gen/
out/
proguard/
captures/
*.jks
*.log
.navigation/
/captures
.externalNativeBuild
.DS_Store
*.apk
*.ap_
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
